body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(232, 19%, 15%);
    font-family: "Inter", serif;
}

h1 {
    font-size: 40px;
    color: white;
}

.tip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    padding: 50px;
}

.titletwo{
    padding: 20px;
    display: flex;
    justify-content: start;
    width: 67%;
}

.switch{
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch p{
    color: white;
}

.switchbackground{
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
}

.switchbutton{
    background-color:hsl(232, 19%, 15%) ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    color: white;
}

.title h1 {
    margin: 0;
    padding-top: 20px;
}

.title p {
    margin: 0;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 30px;
    max-width: 1800px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: hsl(228, 28%, 20%);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;

}

.stat:hover{
    background-color:hsl(230, 13%, 43%) ;
}

.card:hover{
    background-color:hsl(230, 13%, 43%) ;
}

.stat h1 {
    font-size: 90px;
    margin: 0;
}

.fb {
    border-top: 4px solid hsl(208, 92%, 53%);
}

.twt {
    border-top: 4px solid hsl(203, 89%, 53%);
}

.insta {
    position: relative;
}

.insta-hat {
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    position: absolute;
    height: 4px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 0;
    left: 0;
}

.yt {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.today {
    display: flex;
    align-items: center;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ov-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 67%;
    column-gap: 35px;
    row-gap: 35px;
}

.stat .top {
    display: flex;
    align-items: center;
}

.stat-txt {
    color: hsl(228, 34%, 66%);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(228, 28%, 20%);
    padding: 20px;
    border-radius: 5px;
}

.card h1 {
    margin: 0;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}



.right p {
    color: hsl(163, 72%, 41%);
}

.right .redp {
    color: hsl(356, 69%, 56%);
}

.up {
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    
    text-align: start;
}