/* #### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */

body {

    --bg-hover: hsl(230, 13%, 43%);

    --txt-color2: hsl(228, 34%, 66%);

    --txt-color1: hsl(0, 0%, 100%);

    --bg-card: hsl(228, 28%, 20%);


    --bg-1: hsl(232, 19%, 15%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-1);
    font-family: "Inter", serif;

}




body.light {

    --bg-hover: hsl(0, 0%, 77%);

    --txt-color2: hsl(228, 12%, 44%);

    --txt-color1: hsl(230, 17%, 14%);

    --bg-card: hsl(227, 47%, 96%);


    --bg-1: hsl(0, 0%, 100%);
}


h1 {
    font-size: 40px;
    color: var(--txt-color1);
}

.tip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    padding: 50px;
}

.titletwo {
    padding: 20px;
    display: flex;
    justify-content: start;
    width: 67%;
}

.switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch p {
    color: var(--txt-color1);
}

.switchbackground {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.switchbutton {
    background-color: var(--bg-1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    color: var(--txt-color1);
}

.title h1 {
    margin: 0;
    padding-top: 20px;
}

.title p {
    margin: 0;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 30px;
    max-width: 1260px;
}

.stat {


    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bg-card);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;

}

.stat:hover {
    background-color: var(--bg-hover);
}

.card:hover {
    background-color: var(--bg-hover);
}

.stat h1 {
    font-size: 90px;
    margin: 0;
}

.fb {
    border-top: 4px solid hsl(208, 92%, 53%);
}

.twt {
    border-top: 4px solid hsl(203, 89%, 53%);
}

.insta {
    position: relative;
}

.insta-hat {
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    position: absolute;
    height: 4px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 0;
    left: 0;
}

.yt {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.today {
    display: flex;
    align-items: center;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ov-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 67%;
    column-gap: 35px;
    row-gap: 35px;
}

.stat .top {
    display: flex;
    align-items: center;
}

.stat-txt {
    color: var(--txt-color2);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 5px;
}

.card h1 {
    margin: 0;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}



.right p {
    color: hsl(163, 72%, 41%);
}

.right .redp {
    color: hsl(356, 69%, 56%);
}

.up {
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;

    text-align: start;
}

.on {
    justify-content: end;
}